*.tar.gz
*.tar.xz
*.png
*/pkg/
*/src/
build/
sources/
kdesrc-build/
archlinux-logs/
archlinux-chroot/
archlinux-pkgfiles/
archlinux-sources/
__pycache__/
archlinux-install-scripts/guides/
archlinux-install-scripts/.zshrc